@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Quicksand:wght@300&family=Righteous&family=Secular+One&family=Unbounded:wght@800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100%;
}

.navbar{
    background-color: #181818;
}
.navbar div{ 
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_section{
    width: 100%;    
    min-height: 603px;
    max-height: 2000px;
    background-color: red;
    background: url('../images/IMAGE.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.first_section .content{
    /* background-color: green; */
    width: 100%;
    height: 400px;
}

.first_section .content .text_content{
    max-width: 800px;
    height: 100%;
    /* background-color: red; */
    /* border: 1px solid white; */
    margin: 0 auto;
}

.first_section .content .text_content .sub_text{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    font-weight: 100;
    margin-bottom: 20px;
    cursor: pointer;
}

.first_section .content .text_content .title_text{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    font-weight: 900;
    margin-bottom: 30px;
    cursor: pointer;
}

.first_section .content .text_content .sud_text{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.second_section{
    width: 100%;    
    /* height: 1000px; */
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
}

.second_section .title_text{
    width: 100%;
    height: 50px;
    /* border: 1px solid white; */
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: 900;
    color: white;
}

.second_section .sud_text{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: 900;
    color: white;
}

.second_section .container-xl{
    margin-top: 20px;
    /* border: 1px solid white; */
    /* height: 3000px; */
    margin-bottom: 100px;
}

.second_section .container-xl .row{
    /* border: 1px solid rgb(255, 0, 0); */
    /* min-height: 450px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.second_section .container-xl .row .col-sm-6{
    transition: 0.5s;
}

.second_section .container-xl .row .col-sm-6:hover{
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 30px;
}

.second_section .container-xl .row .box1{
    width: 560px;
    height: 450px;
    background: url('../images/image1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;    
}

.second_section .container-xl .row .box1 .content{
    width: 100%;
    /* height: 150px; */
    /* border: 1px solid white; */
}

.second_section .container-xl .row .box1 .content .title{
    padding-left: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.second_section .container-xl .row .box1 .content .text{
    padding-left: 10px;
    color: rgb(198, 198, 198);
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.second_section .container-xl .row .box1 .content .btn{
    width: 150px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.second_section .container-xl .row .box2{
    width: 560px;
    height: 450px;
    background: url('../images/IMAGE\ \(1\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
}


.second_section .container-xl .row .box2 .content{
    width: 100%;
    /* height: 10px; */
    /* border: 1px solid white; */
}

.second_section .container-xl .row .box2 .content .title{
    padding-left: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.second_section .container-xl .row .box2 .content .text{
    padding-left: 10px;
    color: rgb(198, 198, 198);
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.second_section .container-xl .row .box2 .content .btn{
    width: 150px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.second_section .container-xl .row2{
    /* border: 1px solid rgb(255, 0, 0); */
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.second_section .container-xl .row2 .col-sm-6{
    transition: 0.5s;
}

.second_section .container-xl .row2 .col-sm-6:hover{
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 30px;
}

.second_section .container-xl .row .box11{
    width: 560px;
    height: 450px;
    background: url('../images/IMAGE\ \(2\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.second_section .container-xl .row .box11 .content{
    width: 100%;
    /* height: 150px; */
    /* border: 1px solid white; */
}

.second_section .container-xl .row .box11 .content .title{
    padding-left: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.second_section .container-xl .row .box11 .content .text{
    padding-left: 10px;
    color: rgb(198, 198, 198);
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.second_section .container-xl .row .box11 .content .btn{
    width: 150px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.second_section .container-xl .row .box21{
    width: 560px;
    height: 450px;
    background: url('../images/IMAGE\ \(3\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.second_section .container-xl .row .box21 .content{
    width: 100%;
    /* height: 150px; */
    /* border: 1px solid white; */
}

.second_section .container-xl .row .box21 .content .title{
    padding-left: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.second_section .container-xl .row .box21 .content .text{
    padding-left: 10px;
    color: rgb(198, 198, 198);
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.second_section .container-xl .row .box21 .content .btn{
    width: 150px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.third_section{
    width: 100%;    
    /* height: 2000px; */
    background-color: green;
}

.third_section .container-fluid{
    /* border: 1px solid white; */
    min-height: 600px;
    background: url('../images/fwe.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.third_section .container-fluid .row .col-sm-12 .title{
    padding-left: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.third_section .container-fluid .row .col-sm-12 .sud_text{
    padding-left: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}


.fourth_section{
    width: 100%;    
    background-color: green;
}

.fourth_section .container-fluid {
    width: 100%;
    /* height: 540px; */
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourth_section .container-fluid .row{
    background-color: blue;
    width: 1000vh;
    height: 100%;
    /* border: 1px solid black; */
    /* gap: 10px; */
}

.fourth_section .container-fluid .row .col-sm-6{
    height: 450px;
    /* width: 100%; */
    background-color: blue;
}

.fourth_section .container-fluid .row .box1{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth_section .container-fluid .row .box1 .content{
    width: 100%;
    /* height: 150px; */
    /* border: 1px solid white; */
    margin: 0 auto;
}

.fourth_section .container-fluid .row .box1 .content .title{
    /* padding-left: 70px; */
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.fourth_section .container-fluid .row .box1 .content .text{
    /* padding-left: 70px; */
    color: rgb(198, 198, 198);
    line-height: 20px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.fourth_section .container-fluid .row .box1 .content .btn{
    width: 150px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fourth_section .container-fluid .row .box2{
    background: url('../images/camera.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fives_section{
    width: 100%;    
    /* height: 2000px; */
    background-color: green;
}

.fives_section .container-fluid{
    /* border: 1px solid white; */
    min-height: 600px;
    background: url('../images/garden.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fives_section .container-fluid .row .col-sm-12 .title{
    padding-left: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.fives_section .container-fluid .row .col-sm-12 .sud_text{
    padding-left: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}


.seventh_section{
    width: 100%;
    height: 350px;
    background-color: rgb(0, 0, 0);
}

.seventh_section h1{
    padding-left: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding-top: 50px;
    font-weight: 900;
}
.seventh_section h4{
    padding-left: 10px;
    color: rgb(126, 126, 126);
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.seventh_section .btnn{
    width: 150px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 0 auto;
    border-radius: 10px;
}

.eight_section {
    width: 100%;
    background-color: rgb(0, 0, 0); 
    height: 100%;
}

.eight_section .container-xl{
    border: 5px solid black;
    height: 100%;
}

.eight_section .container-xl .row{
    border:5px solid rgb(0, 0, 0);
    height: 100%;
}

.eight_section .container-xl div{
    border: 1px solid rgb(14, 14, 14);
    background-color: rgb(0, 0, 0);
    height: 300px;
}

.eight_section .container-xl .box1 h2{
    margin-top: 100px;
    padding-left: 10px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
}

.eight_section .container-xl .box1 h6{
    padding-left: 10px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

.eight_section .container-xl .box2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.eight_section .container-xl .box2 ul li{
    list-style-type: none;
    line-height: 30px;
    color: rgb(158, 158, 158);
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

.eight_section .container-xl .box2 ul .active{
    font-weight: 900;
    color: white;
    font-size: 18px;
}



.eight_section .container-xl .box3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.eight_section .container-xl .box3 ul li{
    font-size: 15px;
    list-style-type: none;
    line-height: 30px;
    color: rgb(158, 158, 158);
    font-family: 'Quicksand', sans-serif;
}

.eight_section .container-xl .box3 ul .active{
    font-weight: 900;
    color: white;
    font-size: 18px;
}


.nineth_section{
    width: 100%;
    background-color: red;
    height: 400px;
}

.footer-bs {
    background-color: #000000;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
    width: 100%;
    max-width: 1550px;
    margin: auto;
    cursor: pointer;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}